<!DOCTYPE html>
<html lang="it">

	<% include ../partials/head %>

	<body class="home">

		<div class="row">

			<div class="small-12 small-centered columns">
			
				<h1>Node doc manager<% if (settings.env === 'development'){ %> - <%= settings.env%> mode<%}%></h1>

			</div>

		</div>

	<%if (!data.length) { %>

		<div class="row">

			<div class="small-8 medium-6 large-5 small-centered columns">
				<div class="callout alert">
					<h5>No documents</h5>
					<p>There aren\'t yet documents saved in the db</p>
				</div>
			</div>

		</div>

	<%} else { %>

		<div class="row">
			<a href="/?reverse=<%= !reversed %>">Invert order</a>
		</div>

		<% data.forEach((doc) => { %>

		<div class="row">

			<div class="small-8 medium-6 large-5 small-centered columns">

				<div class="header panel">
					<div class="sign">
						<p class="date"><%= doc.month %> - <%= doc.year %></hp>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<h2><%= doc.title %></h2>
							<p>
								<%= doc.desc %>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="small-8 columns buttons">
							<a class="small button" href="/docs/<%= doc.key %>.pdf">View document</a>
						</div>
					</div>
				</div>

			</div>

		</div>

	<%	}); 
	}
	%>
		
		<% include ../partials/footer %>

	</body>

</html>
